
@import url(https://fonts.googleapis.com/css?family=Dosis:200);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
html{
	font-size: 62.5%
}
body{
	font-size: 4.8rem;
	padding: 0px;
	margin: 0px;
	font-family: "Droid Serif";
	color: #555555;
	background-image: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;	
}
#about p{
	margin: .2rem;
}

h1{
	font-family: "Dosis";
	text-transform: lowercase;
	font-size: 7.2rem;
	letter-spacing: .2rem;
	margin: .3rem;
}
#title{
	font-family: "Dosis";
	text-transform: lowercase;
	font-size: 24rem;
	letter-spacing: .2rem;
	margin: 5rem;	
	line-height: 15.0rem;
}
h2{
	font-family: "Dosis";
	text-transform: lowercase;
	font-size: 5.6rem;
	letter-spacing: .2rem;
	margin: .3rem;	
}
a {
	text-decoration: none;
	border: none;
	color: #8a59dc;
	transition: .75s;
	-webkit-transition: .75s;
}
a:hover{
	color: #00d3b8;
}
#portfolio h1{
	color: #00d3b8;
}
#portfolio h2{
	color: #8a59dc;
}
#about h1{
	color: #8a59dc;
}
#about h2{
	color: #00d3b8;
}

#one{display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #9359EB;
	opacity: .96;
}
#two{
	display: none;
	width: 100%;
	height: 125%;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #f2f2f2;
}
#three{
	display: none;
	width: 100%;
	height: 125%;
	position: absolute;
	top: 225%;
	left: 0;
	background-color: #59EBD7;
	opacity: .98;
}
#four{
	display: none;
	width: 100%;
	height: 125%;
	position: absolute;
	top: 350%;
	left: 0;
	background-color: #f2f2f2;
}
#five{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top:  475%;
	left: 0;
	background-color: #9359EB;
	opacity: .96;
}
#home{
	position: relative;
	top: 0;
	color: white;
	text-align: center;
	width: 100%;
	font-size: 4.8rem;
	background-color: #9359EB;
	min-height: 100%;
	padding-top: 40%; 
	padding-bottom: 60%;
	margin: 0;
}
#portfolio{
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #f2f2f2;
	padding-top:25%; 
	padding-bottom: 25%;
	margin: 0;
}
#resume{
	position: relative;
	width: 100%;
	text-align: center;
	line-height: 6rem;
	background-color: #59EBD7;
	padding-top:25%; 
	padding-bottom: 25%;
	margin: 0;
}
#about{
	position: relative;
	width: 70%;
	padding: 15%;
	padding-top: 5%;
	text-align: center;
	line-height: 6rem;
	background-color: #f2f2f2;
	padding-top:25%; 
	padding-bottom: 25%;
	margin: 0;
}
#contact{
	background-color: #9359EB;
	position: relative;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 6.0rem;
	padding-top:40%; 
	padding-bottom: 50%;
	margin: 0;
}
#navspot{
	display: none;
}
.nav{
	display: inline-block;
	margin: .6rem;
}
.talk{
	display: inline-block;
	margin: 1.0rem;	
	font-size: 12rem;
}
#contact a{
	color: white;
}
#contact a:hover{
	color: #00d3b8;
}
.pitem{
	width: 30.0rem;
	height: 30.0rem;
	display: inline-block;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	text-align: center;
	margin: 1.0rem;
	transition: .5s;
	-webkit-transition: .5s;
	opacity: 1;
}
.pitem:hover{
	box-shadow: 3px 3px 0px #777777;
}
#resume p{
	opacity: 1;
	background-color: #f2f2f2;
	margin-left: 10%;
	margin-right: 10%; 
	margin-top: 5rem;
	margin-bottom: 5.0rem;
	padding: 5.0rem;
	box-shadow: 3px 3px 0px #777777;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	transition: .75s;
	-webkit-transition: .75s;
}












