
@import url(https://fonts.googleapis.com/css?family=Dosis:200);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
html{
	font-size: 62.5%
}
body{
	font-size: 1.8rem;
	padding: 0px;
	margin: 0px;
	font-family: "Droid Serif";
	color: #555555;
	background-image: url("halftone.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;	
}
#about p{
	margin: .2rem;
}

h1{
	font-family: "Dosis";
	text-transform: lowercase;
	font-size: 4.8rem;
	letter-spacing: .2rem;
	margin: .3rem;
}
#title{
	font-family: "Dosis";
	text-transform: lowercase;
	font-size: 14.4rem;
	letter-spacing: .2rem;
	margin: .5rem;	
	line-height: 15.0rem;
}
h2{
	font-family: "Dosis";
	text-transform: lowercase;
	font-size: 2.8rem;
	letter-spacing: .2rem;
	margin: .3rem;	
}
a {
	text-decoration: none;
	border: none;
	color: #8a59dc;
	transition: .75s;
	-webkit-transition: .75s;
}
a:hover{
	color: #00d3b8;
}
#portfolio h1{
	color: #00d3b8;
}
#portfolio h2{
	color: #8a59dc;
}
#about h1{
	color: #8a59dc;
}
#about h2{
	color: #00d3b8;
}
#one{
	width: 100%;
	height: 150%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #9359EB;
	opacity: .96;
}
#two{
	width: 100%;
	height: 150%;
	position: absolute;
	top: 150%;
	left: 0;
	background-color: #f2f2f2;
}
#three{
	width: 100%;
	height: 150%;
	position: absolute;
	top: 300%;
	left: 0;
	background-color: #59EBD7;
	opacity: .98;
}
#four{
	width: 100%;
	height: 150%;
	position: absolute;
	top: 450%;
	left: 0;
	background-color: #f2f2f2;
}
#five{
	width: 100%;
	height: 150%;
	position: absolute;
	top: 600%;
	left: 0;
	background-color: #9359EB;
	opacity: .96;
}
#home{
	position: absolute;
	top: 20%;
	color: white;
	text-align: center;
	width: 100%;
	font-size: 2.4rem;
}
#portfolio{
	position: absolute;
	top: 155%;
	width: 100%;
	text-align: center;
}
#resume{
	position: absolute;
	top: 320%;
	width: 100%;
	text-align: center;
	line-height: 3.6rem;
}
#about{
	position: absolute;
	top: 460%;
	width: 70%;
	padding: 15%;
	padding-top: 5%;
	text-align: center;
	line-height: 3.6rem;
}
#contact{
	position: absolute;
	top: 620%;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 6.0rem;
}
#navspot{
	display: none;
}
.nav{
	display: inline-block;
	margin: .6rem;
}
.talk{
	display: inline-block;
	margin: 1.0rem;
}
#contact a{
	color: white;
}
#contact a:hover{
	color: #00d3b8;
}
.pitem{
	width: 10.0rem;
	height: 10.0rem;
	display: inline-block;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	text-align: center;
	margin: 1.0rem;
	transition: .5s;
	-webkit-transition: .5s;
}
.pitem:hover{
	box-shadow: 3px 3px 0px #777777;
}
#resume p{
	background-color: #f2f2f2;
	margin-left: 10%;
	margin-right: 10%; 
	margin-top: .5rem;
	margin-bottom: 1.0rem;
	padding: 1.0rem;
	box-shadow: 3px 3px 0px #777777;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	transition: .75s;
	-webkit-transition: .75s;
}












